reports/2021/figures/.DS_Store
reports/2019/.DS_Store
reports/2020/.DS_Store
reports/2021/.DS_Store
reports/2019/~
reports/2020/~
reports/2021/~
reports/2021/figures_unsorted/longqc_raw/F_hifi_a/longqc_sdust.txt
reports/2021/figures_unsorted/longqc_raw/F_hifi_b/longqc_sdust.txt
reports/2021/figures_unsorted/longqc_raw/F_hifi_c/longqc_sdust.txt
reports/2021/figures_unsorted/longqc_raw/M_hifi_a/longqc_sdust.txt
reports/2021/figures_unsorted/longqc_raw/M_hifi_b/longqc_sdust.txt
